.apps_page{ width:100%;height:100%;position:absolute;  }


/* slide */
@-webkit-keyframes slideinfromright
{
    from { -webkit-transform: translate3d(100%, 0px, 0px) }
    to { -webkit-transform: translate3d(0px, 0px, 0px) }
}

@-webkit-keyframes slideoutfromleft
{
    from { -webkit-transform: translate3d(0px, 0px, 0px) }
    to { -webkit-transform: translate3d(-100%, 0px, 0px) }
}


@-webkit-keyframes slideinfromleft
{
    from { -webkit-transform: translate3d(-100%, 0px, 0px) }
    to { -webkit-transform: translate3d(0px, 0px, 0px) }
}

@-webkit-keyframes slideoutfromright
{
    from { -webkit-transform: translate3d(0px, 0px, 0px) }
    to { -webkit-transform: translate3d(100%, 0px, 0px) }
}


/* slideup */
@-webkit-keyframes slideupinfrombottom
{
    from { -webkit-transform: translate3d(0px, 100%, 0px) }
    to { -webkit-transform: translate3d(0px, 0px, 0px) }
}

@-webkit-keyframes slideupoutfromtop
{
    from { -webkit-transform: translate3d(0px, 0px, 0px) }
    to { -webkit-transform: translate3d(0px, 0px, 0px) }
}


@-webkit-keyframes slideupinfromtop
{
    from { -webkit-transform: translate3d(0px, 0px, 0px) }
    to { -webkit-transform: translate3d(0px, 0px, 0px) }
}

@-webkit-keyframes slideupoutfrombottom
{
    from { -webkit-transform: translate3d(0px, 0px, 0px) }
    to { -webkit-transform: translate3d(0px, 100%, 0px) }
}


/* fade */
@-webkit-keyframes fadein
{
    from { opacity : 0; }
    to { opacity : 1; }
}

@-webkit-keyframes fadeout
{
    from { opacity : 1; }
    to { opacity : 0; }
}

@-webkit-keyframes none
{
    
}